<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="results">
        <h2>Resultados</h2>
        
        <h3>Saldo Promedio por Tipo de Producto</h3>
        <table id="averageBalanceTable">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Saldo Promedio</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
        <h3>Top 10 Clientes con Mayor Saldo por Producto</h3>
        <table id="topClientsTable">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cliente</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</body>
</html>