<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../content/css/styles.css">
    <title>Sistema Bancario</title>
</head>
<body>
    <header>
        <nav>
            <div class="title">Sistema Bancario</div>
            <div class="options">
                <a href="./Client.html">Cliente</a>
                <a href="./Employee.html">Empleado</a>
            </div>
        </nav>
    </header>
    <main>

        <div class="conainer-carousel">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" style="background-color: rgb(44, 129, 129);" src="../../assets/images/Img-bank-1.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/img-bank-2.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/img-bank-3.png" alt="Third slide">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
          </div>
        </div>


        

    </main>

    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    </script>
</body>
</html>