<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../content/css/ProductStyles.css">
    <title>Productos</title>
</head>
<body>
   
    <div class="sidebar">
        <h2>Opciones</h2>
        <a href="./../components/forms/client/CreateClientForm.html">Crear un cliente</a>
        <a href="./../components/forms/product/CreateProductForm.html">Crear un producto</a>
        <a href="./../components/forms/product/ProductTransactionForm.html">Hacer un deposito o un retiro</a>
        <a href="./../components/forms/product/CalculateInterestProductForm.html">Calcular intereses</a>
        <a href="./../components/forms/product/CancelProductForm.html">Cancelar producto</a>

        <a id="back-btn" href="./../../../../index.html">Regresar</a>
    </div>

    <div class="content" id="contentArea">
        <h1>Bienvenido</h1>
        <p>Aquí puedes gestionar procesos sobre productos y clientes.</p>
    </div>

</body>
</html>