<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../content/css/ReportsStyles.css">
    <title>Reportes</title>
</head>
<body>
   
    <div class="sidebar">
        <h2>Opciones</h2>
        <a href="./../components/reports/AverageBalanceReport.html" id="averageBalance">Ver saldo promedio</a>
        <a href="./../components/reports/TopTenClientsBalanceReport.html" id="top10Clients">Ver top 10 clientes con mayor saldo</a>

        <a id="back-btn" href="./../../../../index.html">Regresar</a>
    </div>


    <div class="content" id="contentArea">
        <h1>Bienvenido</h1>
        <p>Aquí puedes obtener los reportes que necesitas.</p>
    </div>

</body>
</html>
